*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
:root {
    --white: #efefef;
    --gray-medium: #333333;
    --gray-strong: #1e1e1e;
    --main-font: 'Roboto', sans-serif;
    --secondary-font: Arial, Helvetica, sans-serif;
    --shadow: rgba(0, 0, 0, 0, 0.75);
    --green: #7ac943;
}
::-webkit-scrollbar {
    background: var(--gray-strong)
}
::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: 10px;
}
body{
    background-color: var(--gray-medium);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    padding: 4rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    font-family: var(--main-font);
}
.header .header_image{
    width: 50%;
    border-radius: 50%;
    overflow: hidden;
}
.header .header_image .image_img {
    width: 100%;
    box-shadow: 8px 16px 32px 0px var(--shadow);
}
.header .name {
    font-size: 3.4rem;
    font-weight: 900;
    text-align: center;
}
.header .subtitle {
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--green);
    text-align: center;
}
.navbar{
    padding: 1rem;
    width: 100%;
}
.navbar .navbar_list{
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
}
.navbar .navbar_link{
    display: block;
    margin: 1rem;
    text-decoration: none;
    color: var(--white);
    font-size: 2rem;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.content .subtitle {
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--green);
    font-family: var(--main-font);
    text-align: center;
    padding: 0 1rem 1rem 1rem;
}
.content .introduction {
    color: var(--white);
    font-family: var(--secondary-font);
    font-size: 1.9rem;
    line-height: 2.5rem;
    text-align: justify;
}

.social-media {
    width: 100%;
    color: var(--white);
    padding: 3rem 2rem;
}
.social-media .social__title{
    font-size: 2.8rem;
    font-family: var(--main-font);
    text-align: center;
    font-weight: 600;
}
.social-media .social__links{
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    padding: 2rem;
}
.social__links .social__item{
    width: 20%;
}
.social__item a img{
    width: 100%;
}
.projects{
     width: 100%;
}
.projects__container{
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-around;
}
.projects__container li {
    width: 100%;
}
.projects__container button{
    width: 100%;
    background: none;
    border: none;
    overflow: hidden;
}
.projects__container img{
    width: 100%;
}
.footer {
    width: 100%;
    background: var(--gray-strong);
}
.footer .subtitle {
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--white);
    font-family: var(--main-font);
    text-align: center;
    padding: 1rem;
}
.footer .form_contact{
    width: 80%;
    display: flex;
    color: var(--white);
    font-family: var(--secondary-font);
    flex-direction: column;
    margin: auto;
    font-size: 1.8rem;
    padding-bottom: 3rem;
}
.form_contact input{
    padding-left: 0.5rem;
    width: 100%;
}
.form_contact input:focus {
    outline: 2px solid var(--green);
}
.form_contact textarea {
    width: 100%;
    margin-bottom: 1rem;
}
.form_contact input[type=submit]{
    margin: 1rem 0;
    padding: 1rem 0;
    background-color: var(--green);
    border-radius: 40px;
    border: none;
    font-size: 2.4rem;
    font-weight: 600;
    transition: all 0.5s ease;
}
.form_contact input[type=submit]:hover {
    background-color: #619b37;
    color: var(--white);
}