*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
:root {
    --white: #efefef;
    --gray-medium: #333333;
    --gray-strong: #1e1e1e;
    --main-font: 'Roboto', sans-serif;
    --secondary-font: Arial, Helvetica, sans-serif;
    --shadow: rgba(0, 0, 0, 0, 0.75);
    --green: #7ac943;
}
::-webkit-scrollbar {
    background: var(--gray-strong)
}
::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: 10px;
}
body{
    background-color: var(--gray-medium);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    font-family: var(--main-font);
}
.header .header_image{
    width: 25%;
    border-radius: 50%;
    overflow: hidden;
}
.header .header_image .image_img {
    width: 100%;
    box-shadow: 8px 16px 32px 0px var(--shadow);
}
.header .name {
    font-size: 4rem;
    font-weight: 900;
}
.header .subtitle {
    font-size: 3rem;
    font-weight: 600;
    color: var(--green);
}
.navbar{
    padding: 2rem;
    width: 100%;
}
.navbar .navbar_list{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.navbar .navbar_link{
    text-decoration: none;
    color: var(--white);
    font-size: 2rem;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 3rem 0 0 0;
}
.content .subtitle {
    font-size: 3rem;
    font-weight: 600;
    color: var(--green);
    font-family: var(--main-font);
    text-align: center;
    padding: 1rem;
}
.content .introduction {
    color: var(--white);
    font-family: var(--secondary-font);
    font-size: 1.9rem;
    line-height: 2.5rem;
}

.social-media {
    width: 100%;
    color: var(--white);
    padding: 3rem 2rem;
}
.social-media .social__title{
    font-size: 3rem;
    font-family: var(--main-font);
    text-align: center;
    font-weight: 600;
}
.social-media .social__links{
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    padding: 2rem;
}
.social__links .social__item{
    width: 10%;
}
.social__item a img{
    width: 100%;
}
.projects{
     width: 60%;
}
.projects__container{
    margin: 1rem auto;
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.projects__container li {
    width: 48%;
}
.projects__container button{
    width: 100%;
    background: none;
    border: none;
    overflow: hidden;
}
.projects__container img{
    width: 100%;
}
.footer .subtitle {
    font-size: 3rem;
    font-weight: 600;
    color: var(--white);
    font-family: var(--main-font);
    text-align: center;
    padding: 1rem;
}
